* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(244, 244, 244, 1);
    font-family: Helvetica, sans-serif;
    color: rgba(33, 33, 33, 1);
}


.wrapper {
    display: grid;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

.app-list-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    gap: 50px 0px;
    margin-bottom: 85px;
}

.app-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 70px 5px;
}

.app-grid-info {
    text-align: right;
    margin-left: 45px;
    margin-right: 45px;

    font-style: normal;
    font-size: 14px;
}

.app-grid-description {
    text-align: left;
    margin-left: 45px;
    margin-right: 45px;

    font-style: normal;
    font-size: 14px;
    border-width: 0px;
    border-color: black;
    border-style: solid;
    transition: 0.1s linear;
}

.app-title {
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.1s linear;
    background: linear-gradient(to left, rgba(33, 33, 33, 1) 50%, rgba(244, 244, 244, 1) 50%);
    background-size: 200%;
    background-position: 0 0;
}

.app-title:hover {
    color: rgba(244, 244, 244, 1);
    background-position: +100% 0;
}

.info-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr;
    gap: 10px;
    margin-bottom: 85px;
}

.info-grid-flavor {
    width: 40%;
    text-align: right;
    margin-left: 45px;
    margin-right: auto;

    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}

.info-grid-description {
    width: 40%;
    text-align: left;
    margin-left: auto;
    margin-right: 45px;

    font-size: 14px;
    font-style: normal;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: rgba(33, 33, 33, 1);
    margin-bottom: 85px;
}

header {
    text-align: right;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-right: 44px;
    padding-left: 44px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
}

nav li {
    display: inline-block;
    line-height: 1.5em;
    margin-left: 20px;
    margin-right: 2px;
}

nav li a {
    font-weight: bold;
    text-decoration: none;
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    transition: 0.1s linear;
    background: linear-gradient(to left, rgba(33, 33, 33, 1) 50%, rgba(244, 244, 244, 1) 50%);
    background-size: 200%;
    background-position: 0 0;
}

nav li a:hover {
    color: rgba(244, 244, 244, 1);
    background-position: +100% 0;
}